<ion-tabs>

  <ion-tab-bar slot="bottom" color="tertiary">
    <ion-tab-button tab="music">
      <ion-label>Temperatura</ion-label>
      <ion-icon name="partly-sunny-sharp"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="movies">
      <ion-label>Humedad</ion-label>
      <ion-icon name="bonfire-sharp"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="games">
      <ion-label>Movimiento</ion-label>
      <ion-icon name="accessibility-sharp"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
